### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

# User-specific stuff
.idea/**/workspace.xml
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.local.xml

# ignore package.json in the root, but not in the web folder
/package.json
/package-lock.json
!/web/package.json
!/web/package-lock.json

# ignore storybook static folder
/web/storybook-static

# Editor-based Rest Client
.idea/httpRequests

# Dependency directories
node_modules/


# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
