@use "../../node_modules/@linzjs/lui/dist/scss/Core" as lui;

.ActionButton {
  display: flex;
  align-items: center;
}

.ActionButton-inProgress .LuiIcon {
  visibility: hidden;
}

.ActionButton-minimal.lui-button-lg.lui-button-icon-right {
  padding-right: 38px;
}

.ActionButton.lui-button-lg.lui-button-icon-right:not(.ActionButton-tight) .LuiIcon {
  margin: 0 4px;
}

.ActionButton.ActionButton-tight.lui-button-lg.lui-button-icon-right .LuiIcon {
  margin: 0;
}

.ActionButton-iconOnly.lui-button-lg.lui-button-icon-right:not(.ActionButton-tight) {
  padding: 8px 5px;
}

.ActionButton-iconOnly.lui-button-lg.lui-button-icon-right.ActionButton-tight {
  padding: 0;
}

.ActionButton-minimalArea {
  position: relative;
}

.ActionButton-minimalAreaDisplay {
  position: absolute;
}

.ActionButton-minimalAreaExpand {
  visibility: hidden;
}

.ActionButton-inProgress.lui-button-lg.lui-button-icon-right {
  cursor: progress;
  color: #007198;
  background-color: lui.$polar;
}

.ActionButton-fill {
  width: 100%;
  justify-content: center;
}
