@use "@linzjs/lui/dist/scss/Core" as lui;

.FormError {
  display: flex;

  &-helpText {
    font-size: 0.75rem;
    color: lui.$fuscous;
    font-weight: 400;
  }

  &-text-icon {
    margin-top: 4px;
    margin-right: 4px;
  }

  &-error {
    padding-left: 0;
    font-size: 14px;
    font-weight: 600;
    color: lui.$charcoal;
    align-items: center;
  }
}
