@use "@linzjs/lui/dist/scss/Core" as lui;

.LuiTextInput.GridLuiTextInput {
  margin-bottom: 0;
}

.LuiTextInput-formatted {
  position: absolute;
  right: 14px;
  top: 0;
  line-height: 48px;
  color: lui.$fuscous;
}
