@use "../react-menu3/styles/index";
@use "../../node_modules/@linzjs/lui/dist/scss/Foundation/Variables/ColorVars" as lui;

.Grid-container {
  flex: 1;
  width: 100%;
}

.Grid-sortIsStale {
  span.ag-icon.ag-icon-desc::after {
    content: "*";
  }

  span.ag-icon.ag-icon-asc::after {
    content: "*";
  }
}

.Grid-quickFilter {
  width: 100%;
  margin-bottom: 16px;
}

.Grid-quickFilterBox {
  width: 100%;
  height: 48px;
  border: 0.06rem solid lui.$silver;
  border-radius: 3px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.Grid-popoverContainer {
  padding: 4px 8px;
}

.GridFormMessage-container {
  padding: 4px 8px;
  max-width: 400px;
}
