@use "../../node_modules/@linzjs/lui/dist/scss/Core" as lui;

.AgGridGenericCellRenderer-icon {
  margin-right: 4px;
}

.AgGridGenericCellRenderer-ic_infoIcon {
  margin-right: 4px;
  fill: lui.$info;
}

.AgGridGenericCellRenderer-ic_info_outlineIcon {
  margin-right: 4px;
  fill: lui.$info;
}

.AgGridGenericCellRenderer-ic_warningIcon {
  margin-right: 4px;
  fill: lui.$warning;
}

.AgGridGenericCellRenderer-ic_warning_outlineIcon {
  margin-right: 4px;
  fill: lui.$warning;
}

.AgGridGenericCellRenderer-ic_error_Icon {
  margin-right: 4px;
  fill: lui.$error;
}

.AgGridGenericCellRenderer-ic_error_outlineIcon {
  margin-right: 4px;
  fill: lui.$error;
}

.GridIcon-disabled {
  fill: lui.$silver !important;
}
