@use "../../node_modules/@linzjs/lui/dist/scss/Foundation/Variables/ColorVars" as colors;

.AgGridGenericCellRenderer-icon {
  margin-right: 4px;
}

.AgGridGenericCellRenderer-ic_infoIcon {
  margin-right: 4px;
  fill: colors.$info;
}

.AgGridGenericCellRenderer-ic_warningIcon {
  margin-right: 4px;
  fill: colors.$warning;
}

.GridIcon-disabled {
  fill: colors.$silver !important;
}
