@use "../../node_modules/@linzjs/lui/dist/scss/Foundation/Variables/ColorVars" as colors;

.ag-cell .GridPopoutMenu-burger {
  cursor: pointer;
  display: block;

  svg {
    fill: colors.$sea;
  }
}

.ag-cell .GridPopoutMenu-burgerDisabled svg {
  fill: colors.$disabled-color;
}
