@use "../../node_modules/@linzjs/lui/dist/scss/Foundation/Variables/ColorVars" as lui;

.AgGridGenericCellRenderer-icon {
  margin-right: 4px;
}

.AgGridGenericCellRenderer-ic_infoIcon {
  @extend .AgGridGenericCellRenderer-icon;
  fill: lui.$info;
}

.AgGridGenericCellRenderer-ic_warningIcon {
  @extend .AgGridGenericCellRenderer-icon;
  fill: lui.$warning;
}
