@use "../react-menu3/styles/index";
@use "./react-menu-customisations";
@use "../../node_modules/@linzjs/lui/dist/scss/Foundation/Variables/ColorVars" as colors;

.Grid-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Grid-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Grid-sortIsStale {
  span.ag-icon.ag-icon-desc::after {
    content: "*";
  }

  span.ag-icon.ag-icon-asc::after {
    content: "*";
  }
}

.Grid-container-filters {
  width: 100%;
  margin-bottom: 16px;
  flex: 0;
  display: flex;
  flex-direction: row;
  grid-column-gap: 1em;
}


.Grid-quickFilterBox {
  width: 100%;
  height: 48px;
  border: 0.06rem solid colors.$silver;
  border-radius: 3px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.Grid-popoverContainer {
  padding: 0.375rem 0.75rem;
}

.ag-cell .GridCell-editableIcon {
  fill: colors.$silver;
  visibility: hidden;
}

.ag-cell:hover .GridCell-editableIcon, .ag-cell.ag-cell-focus .GridCell-editableIcon {
  visibility: visible;
}

.GridFormMessage-container {
  padding: 4px 8px;
  max-width: 400px;
}

.GridCell-readonly {
  color: colors.$fuscous;
}

.Grid-container.ag-theme-alpine .ag-cell {
  font-weight: 400;
}

.Grid-container.ag-theme-alpine .ag-cell:not(.ag-cell-focus) .Grid-displayWhenCellFocused {
  visibility: hidden;
}

.Grid-container.ag-theme-alpine .ag-cell:hover .Grid-displayWhenCellFocused {
  visibility: inherit;
}

.Grid-container.ag-theme-alpine .ag-cell-wrapper {
  width: 100%;
}
