@use "@linzjs/lui/dist/scss/Core" as lui;

.ag-cell .GridPopoutMenu-burger {
  cursor: pointer;
  display: block;

  svg {
    fill: lui.$sea;
  }
}

.ag-cell .GridPopoutMenu-burgerDisabled svg {
  fill: lui.$disabled-color;
}
