@use "../react-menu3/styles/index";
@use "./react-menu-customisations";
@use "../../node_modules/@linzjs/lui/dist/scss/Core" as lui;

.LabelPreferencesPanelGridCellAlignCenter .ag-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.LabelPreferencesPanelGridCellAlignCenter .ag-cell-wrapper, .LabelPreferencesPanelGridCellAlignCenter .GridCell-container {
  display: flex;
  justify-content: center;
}

.Grid-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Grid-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Grid-sortIsStale {
  span.ag-sort-indicator-icon::before {
    margin-left: -6px;
    position: absolute;
    content: "*";
  }
}

.Grid-container-filters {
  width: 100%;
  flex: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 12px;
  background-color: lui.$hint;
  border-bottom: 1px solid lui.$silver;
  border-top: 2px solid lui.$lily;
}

.Grid-container-filters button {
  margin-left: 0 !important;
}

%GridFilter-container {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.GridFilter-container {
  @extend %GridFilter-container;
}

.GridFilterQuick-container {
  @extend %GridFilter-container;
  flex: 1;
}

.GridFilterQuick-icon {
  position: absolute;
  margin: 8px;
  pointer-events: none;
  fill: lui.$fuscous;
}

.GridFilterQuick-input {
  width: 100%;
  height: 40px;
  min-height: 40px;
  border: 0.06rem solid lui.$silver;
  border-radius: 3px;
  padding-left: 36px;
  padding-right: 0.75rem;
  font-family: "Open Sans", system-ui, sans-serif;

  &::placeholder {
    color: lui.$fuscous;
    font-style: italic;
  }
}

.Grid-popoverContainer {
  padding: 0.375rem 0.75rem;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.GridFormMessage-container {
  padding: 4px 8px;
  max-width: 400px;
}

.ag-floating-top-container .ag-row {
  background-color: lui.$hint;
}

.ag-floating-bottom-container .ag-row {
  background-color: lui.$hint;
}

.GridHeaderAlignCenter .ag-header-cell-text {
  margin-left: auto;
  margin-right: auto;
}

.GridCellAlignCenter .GridCell-container {
  display: flex;
  justify-content: center;
}

.GridCellAlignCenter .ag-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.GridCellAlignCenter .ag-cell-wrapper, .LabelPreferencesPanelGridCellAlignCenter .GridCell-container {
  display: flex;
  justify-content: center;
}

div.ag-ltr div.ag-header-cell-resize {
  right: -4px;
}
