@use "@linzjs/lui/dist/scss/Foundation/Variables/ColorVars" as lui;

.GridPopoutMenu-burger {
  cursor: pointer;

  svg {
    fill: lui.$sea;
  }
}

.GridPopoutMenu-burgerDisabled svg {
  fill: lui.$disabled-color;
}
