@use 'node_modules/@linzjs/lui/dist/scss/Core' as lui;

.GridPopoutMenu-burger {
  cursor: pointer;

  & svg {
    fill: lui.$sea;
  }
}

.GridPopoutMenu-burgerDisabled svg {
  fill: lui.$disabled-color;
}
