@use "../../../node_modules/@linzjs/lui/dist/scss/Foundation/Variables/ColorVars" as colors;

.GridPopoutMenu-burger {
  cursor: pointer;

  svg {
    fill: colors.$sea;
  }
}

.GridPopoutMenu-burgerDisabled svg {
  fill: colors.$disabled-color;
}
