@use '~@linzjs/lui/dist/scss/Core' as lui;

.GridFilterHeaderIconButton {
  display: flex;
  align-items: center;
  padding: 2px;
  background-color: transparent;
  cursor: pointer;
  fill: lui.$sea;

  &:disabled {
    fill: lui.$grey-30;
  }
}

.MenuItemIcon {
  margin-right: 8px;
}
