@use "@linzjs/lui/dist/scss/Core" as lui;

.GridFilterColsMultiSelect {
    background: #fff;
    padding: 8px;
    @include lui.font-semibold();

    .LuiSelect-label-text {
        color: lui.$fuscous;
        display: inline-block;
    }

    .LuiCheckboxInput-selectAll,
    .LuiCheckboxInput-item {
        color: lui.$charcoal;
        line-height: 20px;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;

    }
}