@use '~@linzjs/lui/dist/scss/Core' as lui;

@import "ag-grid-community/src/styles/ag-grid.scss";
@import "ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.ag-grid-container {
  height: calc(100% - 8px);
  width: 100%;

  display: flex;
  flex-direction: column;
}

.ag-grid-grid {
  flex: 1;
  width: 100%;

  // to allow cell editor popups to overflow the table height
  &--editing {
    .ag-root-wrapper {
      overflow: visible;
    }

    // fixes race condition when cell editor renders before --editing modifier is applied, causing a small max-height
    // due to not being able to expand out of the original .ag-root-wrapper viewport
    .szh-menu--state-open {
      max-height: none !important;
    }
  }
}

.aggrid-sortIsStale {
  span.ag-icon.ag-icon-desc:after {
    content: "*";
  }

  span.ag-icon.ag-icon-asc:after {
    content: "*";
  }
}

.ag-theme-alpine {
  // AG Grid themes can be customized using theme parameters, which are arguments that change its appearance. Refer to
  // https://www.ag-grid.com/javascript-data-grid/themes-customising/#full-list-of-theme-parameters for a full list of
  // the available theme parameters, which should be used whenever possible.
  @include ag-theme-alpine((
          alpine-active-color: lui.$sea,
          foreground-color: lui.$grey-80,
          data-color: lui.$grey-80,
          header-foreground-color: lui.$surfie,
          background-color: lui.$white,
          odd-row-background-color: lui.$white,
          header-background-color: lui.$white,
          border-color: lui.$lily,
          secondary-border-color: lui.$lily,
          row-hover-color: lui.$lily,
          font-family: ("Open Sans", system-ui, sans-serif),
          font-size: 0.875rem !important,
          borders: false,
          borders-critical: true,
          borders-secondary: false,
  ));

  // Fix that when you click below checkbox it doesn't process a click
  .ag-cell[col-id="selection"] {
    display: flex;
  }

  // Fix that when you click below checkbox it doesn't process a click
  .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
    height: auto;
  }

  .ag-row:last-of-type {
    border-bottom: none;
  }

  // You can set a background _color_ with theme parameters, but for something like a gradient, you need to override CSS.
  .ag-row-selected {
    background-color: lui.$polar;
  }

  .ag-header-cell {
    font-weight: 600;
    padding: 7px 0 7px 8px;

    .LuiIcon {
      fill: lui.$surfie;
    }
  }

  .ag-cell {
    padding-left: 7px;
    padding-right: 4px;
    display: flex;
    align-items: center;
  }

  .ag-cell-more {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .ag-cell-wrap-text {
    word-break: break-word;
  }

  .ag-cell-popup-editing, .ag-selected-for-edit, .ag-cell-inline-editing {
    background: rgba(72, 160, 244, 0.2);
    // These are important, it needs to override ag-grid to work
    border: 3px solid #48a0f4 !important;
    border-right: 3px solid #48a0f4 !important;
  }

  .ag-row .ag-cell-data-changed {
    // ag-grid natively has !important on this style so we have to use it here :(
    background-color: lightgoldenrodyellow !important;
  }

  .ag-center-cols-clipper {
    // when using domLayout={"autoHeight"}, ag grid has a default min-height set to 150px so the !important is necessary here
    min-height: 40px !important;
  }

  .ag-body-horizontal-scroll-viewport {
    // It's set to scroll by default, but this causes issues with selecting the last row
    overflow-x: auto;
  }
}

