@use "node_modules/@linzjs/lui/dist/scss/Core" as lui;

.FreeTextInput-container {
  height: 100%;
}

.FreeTextInput-flexbox {
  display: flex;
}

.FreeTextInput-units {
  align-self: center;
  background-color: white;
  padding-right: 8px;
  outline: transparent;
  line-height: 48px;
  border: 0;
}

.FreeTextInput-filter-item {
  &:hover {
    background-color: white !important;
  }
}

.FreeTextInput-tick-button {
  outline: transparent solid 0;
  border-width: 0 !important;

  &:hover {
    border: transparent;
    outline: transparent;
    background-color: lui.$blue-05 !important;
  }
}

.FreeTextInput-tick-button-disabled {
  color: lightgray !important;
}

.FreeTextInput-text-input {
  border-width: 0 !important;
  outline-width: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;

  &hover {
    border: transparent;
    outline: transparent;
  }
}
