.GridPopoverEditDropDown-containerSmall .GridFormDropDown-options {
  max-height: 120px;
  overflow-y: auto;
}

.GridPopoverEditDropDown-containerMedium .GridFormDropDown-options {
  max-height: 200px;
  overflow-y: auto;
}

.GridPopoverEditDropDown-containerLarge .GridFormDropDown-options {
  max-height: 400px;
  overflow-y: auto;
}

.GridPopoverEditDropDown-containerUnlimited .GridFormDropDown-options {
  overflow-y: auto;
}