name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Begin CI...
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Use Node 18
        uses: actions/setup-node@v2
        with:
          node-version: 18.x

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Test
        run: npm run test --ci --coverage --maxWorkers=2

      - name: Build
        run: npm run build

      - name: Release
        if: github.ref == 'refs/heads/master'
        run: npx semantic-release
        env:
          GH_TOKEN: ${{secrets.STEP_ENABLEMENT_SERVICE_PAT}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          NPM_TOKEN: ${{secrets.NPM_AUTH_TOKEN_LINZJS}}

  publish-beta-npm:
    if: startsWith(github.ref, 'refs/heads/beta')
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{secrets.STEP_ENABLEMENT_SERVICE_PAT}}

      - uses: actions/setup-node@v2
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Build
        run: npm run build

      - run: npm version prerelease -m "%s [skip ci]" && git push
        env:
          GIT_AUTHOR_EMAIL: STEPEnablementService@linz.govt.nz
          GIT_AUTHOR_NAME: STEP Enablement Service
          GIT_COMMITTER_EMAIL: STEPEnablementService@linz.govt.nz
          GIT_COMMITTER_NAME: STEP Enablement Service

      - run: npm publish --access public --tag beta
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN_LINZJS}}

  publish-storybook:
    if: github.ref == 'refs/heads/master'
    needs: build
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Build
        run: npm run build

      - run: npm run deploy-storybook -- --ci
        env:
          GH_TOKEN: github-actions:${{secrets.GITHUB_TOKEN}}
